
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

} */
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 10vh;
    margin-top: 2em;
}

nav a{
    text-decoration: none;
    color: black;
    padding-right: 20px;
    font-weight: bold;

}
nav img{
    height: 40px;
    width: 120px;
}
input{
    padding: 5px 20px;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 80px;
    margin: 0 50em ;
    white-space: nowrap;
}
main img{
    margin-right: 5em;
}
#learn-btn{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px 24px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    border: 0.2px solid black;
}
#explore-btn{
    text-decoration: none;
    color: white;
    background-color: #001959;
    padding: 15px 24px;
    border-radius: 8px;
    border: 0.2px solid #001959;
}
#main-btn a{
    margin: 0 8px;
}
/*.card1{
    background-color: #001959;
    padding: 32px 0;
    /* border-radius: 15px; */
    /* color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20vh;
    width: 80em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px 255px 15px 15px;
} */
/* .main-card{
    background-color: #001959;
    padding: 32px 0;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
} */
 .main-card{
    background-color: #150861;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-left: 100px;
    margin-right: 110px;
    border-top-right-radius: 150px;
}
/* .gsoc{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    gap: 20px;
} */

.point {
    padding: 32px 30px;
    line-height: 20px;
}
.pointhead{
    color: white;
    font-size: 36px;
}

.pointbullet{
    color: white;
    font-size: 16px;
}
.line {
    margin-top: 50px;
    width: 3px;
    height: 80px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}