nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 2px solid black;
}
nav a{
    text-decoration: none;
    color: black;
    padding-right: 20px;
    font-weight: bold;

}
nav img{
    height: 40px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}
