
.zalando-sans-expanded {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50vh;
    align-items: center;
    font-family: sans-serif;
    font-size: large;
    margin-top: 50px;  
}
.google-btn{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    padding: 10px 90px;
    background-color: white;
}
footer{
    margin-top: 100px;
    background-color:#f3f4f6;
    width: 300vh;
    padding: 8px 0;
}
footer p{
    color: black;
    font-size: small;
    text-align: center;
    font-family: sans-serif;
}
footer a {
    color: grey;
    text-decoration: underline;
}
#input{
    margin-top: 50px;
}
#google-btn a{
    background-color: white;
    border: 0.2px solid grey;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px;
    color: grey;
    font-size: 16px;
    margin: 100px 0;

}
#input button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 9px;
    background-color: grey;
    color: white;
    font-size: 16px;
}
#input{
    text-align: center;
}
#input a{
    text-decoration: underline grey;
}
#input input{
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 100%;
    padding: 13px 80px;
    border: 0.6px solid grey;
    border-radius: 9px;
    margin: 10px 0;
    gap: 12px;
}

#input label{
    font-size: 14px;
    color: black;
    font-family: sans-serif;
    text-align: left;
    margin-right: 300px;
}
#google-btn{
    width: 300px;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 9px;
    margin: 10px 0;
    background-color: white;
}

.google-btn {
  display: flex;
  align-items: space-between;
  justify-content: center;
  gap: 12px;
  width: 100%;
  background-color: #ffffff;
  color: #1f1f1f;
  border: 1px solid #dadce0;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.google-btn:hover {
  background-color: #f7f8f8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
#input p{
    font-size: 14px;
    color: black;
    margin-top: 20px;
    font-family: sans-serif;
}

.google-icon {           
  width: 20px;
  height: 20px;
    margin-left: 12px;
}