
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

} */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    padding: 0 50px;
    position: sticky;
    z-index: 1000;
    top: 0;
}
#explore-btn{
    font-family: sans-serif;
    font-weight: 100;
}
#learn-btn{
    font-family: sans-serif;
    font-weight: 100;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-left a {
    text-decoration: none;
    color: #0f172a;
    font-weight: 500;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

.logo span {
    color: black;
}
#x{
    color: red;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
}
.nav-right input{
    margin-top: 20px;
}

.search-box {
    position: relative;
}

.icon{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background: #1e1b4b;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 25px;
}

#search{
    padding: 8px 32px 8px 36px;
    border: 0.5px solid grey;
    border-radius: 6px;
    margin-bottom: 2em;
}


nav a{
    text-decoration: none;
    color: black;
    padding-right: 18px;
    font-size: medium;
    font-family: sans-serif;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 80px;
    margin: 0 50em ;
    white-space: nowrap;
}
main img{
    margin-right: 5em;
}
#learn-btn{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px 24px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
    border: 0.2px solid black;
}
#explore-btn{
    text-decoration: none;
    color: white;
    background-color: #001959;
    padding: 15px 24px;
    border-radius: 8px;
    border: 0.2px solid #001959;
}
#main-btn a{
    margin: 0 8px;
}
/*.card1{
    background-color: #001959;
    padding: 32px 0;
    /* border-radius: 15px; */
    /* color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20vh;
    width: 80em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px 255px 15px 15px;
} */
/* .main-card{
    background-color: #001959;
    padding: 32px 0;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
} */
 .main-card{
    background-color: #150861;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-left: 100px;
    margin-right: 110px;
    border-top-right-radius: 150px;
}
/* .gsoc{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    gap: 20px;
} */

.point {
    padding: 32px 30px;
    line-height: 20px;
}
.pointhead{
    color: white;
    font-size: 36px;
}

.pointbullet{
    color: white;
    font-size: 16px;
}
.line {
    margin-top: 50px;
    width: 3px;
    height: 80px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}